/* UNIVERSAL */
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

/* NAVIGATION */
header {
    height: 4.25rem;
    padding: 0px 16.25%;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav div {
    display: inline-flex;
    position: relative;
}

.nav-links ul {
    display: inline-flex;
    height: 4.25rem;
}

.nav-links li {
    display: inline-flex;
    position: relative;
    margin-left: 1.5rem;
    font-size: 1.625rem;
    bottom: 0;
    font-weight: 600;
}

.nav-links a {
    color:#4B91F1;
    margin-top: auto;
    padding-bottom: 0.5rem;
    vertical-align: text-bottom;
}

.nav-links a:hover {
    color: #77D4FC;
    text-decoration: none;
}

.nav-links a:active {
    color: #4B91F1;
}

.nav-logo img {
    position: absolute;
    width: 5rem;
}

/* ABOUT SECTION */
section.about {
    padding: 5rem 20%;
}

.about h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.about h2 {
    font-size: 1.75rem;
    opacity: 60%;
}

/* ABOUT */
.about article {
    padding: 3rem 5% 1.5rem 5%;
    width: 80%;
}

.about h3 {
    font-size: 1.5rem;
    text-decoration: underline;
    line-height: 1.5;
    padding-bottom: 0.5rem;
    font-weight: 550;
}

.about-me p {
    font-size: 1.25rem;
    padding-left: 2.5%;
}

/* SKILLS */
article.skills {
    padding-right: 0;
    width: 90%;
}

.skills ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.skills li {
    display: block;
    font-size: 1.25rem;
    width: 37.5%;
    min-width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    box-shadow: -1em 0 .5em whitesmoke;
}

.skills h4 {
    display: inline-flex;
    position: relative;
    vertical-align: top;
    padding-top: 0.5rem;
    margin-right: 1rem;
}

.skills li img {
    display: inline-flex;
    width: 3rem;
    margin-right: 0.5rem;
}
