@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans box-border;
}

.navbar-grow {
  @apply right-7 sm:right-14 md:right-32 lg:right-64 xl:right-80;
  @apply top-2 sm:top-3 md:top-4 lg:top-5 xl:top-5;
  @apply w-80 lg:w-96 xl:w-96;
}

.navbar-link {
  @apply inline text-2xl text-white font-bold relative;
}

.navbar-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0.125rem;
  left: 0;
  transform-origin: bottom right;
  transition: transform 250ms ease-out;
  background-color: #fff;
}

.navbar-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.body-grow {
  @apply w-full sm:w-11/12 md:w-10/12 lg:w-8/12 xl:w-7/12;
  @apply mx-0 sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto;
  @apply px-4 sm:md:lg:xl:px-0;
  @apply mt-20 sm:mt-24 md:mt-24 lg:mt-28 xl:mt-28;
}

.indent-grow {
  @apply px-2 sm:px-3 md:px-4 lg:px-5 xl:px-5;
}
